*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.nav-container{
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-between;
    padding: 01rem 12.5rem;
    align-items: center;
    width: 100%;
}
#logofirst{
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;

}
#logosecond{
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(45deg, #9100F8, #FB09B4, #F7E93F);
    background-clip: text;
    color: transparent;
}
.hamburger{
    display: none;
    cursor: pointer;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
}
.navbtn{
    width: 135px;
    height: 44px;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    background: linear-gradient(45deg, #9100F8, #FB09B4, #F7E93F);
    gap: 4px;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 80px;

}
.banner{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 101px 480px;
    width: 100%;
    
}
.banner-images:hover #microphone{
    transform: rotate(360deg);
    transform-origin: left right;
}
.banner-images{
    position: relative;
    width: 350px;
    height: 350px;
}
#bannercircle {
    width: 350px;
    height: 350px;
    position: relative;
    left: 106px;
    top: 12px;
    margin-bottom: 40px;
}
#microphone{
    position: relative;
    left: 150px;
    top: -300px;
    transition: transform 5s;
}
#new-btn{
    background-color: #00FF88;
    border: none;
    border-radius: 40px;
    width: 75px;
    height: 38px;
    padding: 8px 16px;
    position: relative;
    bottom: 500px;
    left: 190px;
    font-size: 18px;
    font-weight: 400;
    color: #1A0B2E;
    transform: rotate(180 deg);
}
.banner-content{
    margin-top: 60px;
}
.banner h1{
    font-size: 60px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 24px;
}
.banner p{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    margin-top: 8px;
}
.banner-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
}
.banner-btn img{
    width: 20px;
    height: 20px;
}
#primary-btn{
    width: 201px;
    height: 44px;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    background: linear-gradient(45deg, #9100F8, #FB09B4, #F7E93F);
    border-radius: 10px;
    gap: 8px;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#secondery-btn{
    width: 147px;
    height: 44px;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    background: transparent;
    border: 1px solid #00FF88;
    border-radius: 10px;
    gap: 8px;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-section{
    background-color: #1A0B2E;
    padding: 50px 200px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-content h2{
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 16px;
}
.about-content p{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    line-height: 20px;
    margin-bottom: 32px;
}
.about-content h6{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
}
.divider{
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    margin: 80px auto;
}
.about-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 80px;
}
.about-cards h1{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
}
.about-cards p{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    margin-top: 16px;
}
.card{
    width: 240px;
    height: 94px;
}
.choosebox{
    background-color: #230E3D;
    padding: 120px 200px;
    gap: 40px;
    display: flex;
    flex-direction: column;
}
.choosebox-title{
    font-size: 4rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}
.box-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.box-item img{
    width: 60px;
    height: 60px;
}
.box-item h4{
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
}
.box-item p{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
}
.box-1{
    grid-column: span 1;
    grid-row: span 2;
    background-color: #351165;
    border: none;
    border-radius: 15px;
    padding: 40px;
}
.box-2, .box-3{
    grid-column: span 2;
    background-color: #351165;
    border: none;
    border-radius: 15px;
    padding: 40px;

}
.box-4{
    grid-column: span 2;
    background-color: #351165;
    border: none;
    border-radius: 15px;
    padding: 40px;
}
.box-5{
    grid-column: span 1;
    background-color: #351165;
    border: none;
    border-radius: 15px;
    padding: 40px;
}
.media-section{
    background-color: #1A0B2E;
    padding: 120px 200px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.card-1, .card-2, .card-3 {
    width: 380px;
    height: 440px;
    background-color: #250d44;
    border: none;
    border-radius: 24px;
}
.youtube-links h2{
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
}
.card-iframe iframe{
    width: 380px;
    height: 214px;
    border: none;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
.card-content{
    width: 380px;
    height: 226px;
    padding: 24px;
    box-sizing: border-box;
    background-color: #250d44;
    border: none;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}
.card-content h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-top: 0;
}
.card-content p{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    margin-top: 12px;
}
.card-content h6{
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.card-content img{
    width: 20px;
    height: 20px;
}
.host-title h2{
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 40px;
}
.host-card{
    display: flex;
    gap: 24px;
    background-color: #351165;
    border: none;
    border-radius: 40px;
    padding: 40px;
    align-items: center;
}
#host-image{
    width: 200px;
    height: 200px;
}
#host-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content:flex-start;
    text-align: left;
}
#host-content h2{
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
}
#host-content p{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
}
#host-content ul{
    display: flex;
    list-style: none;
    gap: 8px;
    padding: 0;
}
#host-content ul img{
    height: 25px;
    width: 25px;
    border: 2px solid #533c72;
    border-radius: 50%;
    padding: 3px;
    object-fit: contain;

  
}
.footer-content{
    background-image: url(./assets/footer-bg.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 120px;
}
#ft-logo-white{
    font-size: 4rem;
    font-weight: 700;
    color: #ffffff;
}
#ft-logo-gradient{
    font-size: 4rem;
    font-weight: 700;
    background: linear-gradient(45deg, #9100F8, #FB09B4, #F7E93F);
    background-clip: text;
    color: transparent;
}
.social-links{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    color: #ffffff;
    list-style: none;
    margin-top: 32px;
    justify-items: center;
}
.social-icon{
    display: flex;
    gap: 8px;
    align-items: center;
}
.footer-content p{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    margin-top: 48px;
    background-size: cover;
}
@media screen  and (max-width: 576px) {

    .nav-container{
        padding: 16px 20px;
    }
    .nav-container .menu{
        display: none;
    }
    .nav-container .navbtn{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .banner{
        padding: 40px 20px;
        background-size: cover;
    }

    .youtube-links{
        font-size: 32px;
    }
    .about-section{
        padding: 40px 20px;
    }
    .about-cards{
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}
    .choosebox{
        padding: 40px 20px;
    }
    .choosebox-title{
        font-size: 32px;
    }

    .box-item{
    grid-template-columns: repeat(1, 1fr);
}
    .box-1, .box-2, .box-3, .box-4, .box-5{
        padding: 24px;
    }
    .media-section{
        padding: 40px 20px;
        margin: 0 auto;
    }
    .cards{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    
    .host-card{
        flex-direction: column;
    }
    #host-content{
        justify-content:center;
        text-align: center;
    }
    #host-content ul{
        justify-content: center;
    }
    .footer-content{
        padding: 40px 20px;
        background-size: cover;
        
    }
    .social-links{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
    
}
}